[submodule "gpkit/lib/forge-std"]
	path = gpkit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "gpkit/lib/modulekit"]
	path = gpkit/lib/modulekit
	url = https://github.com/rhinestonewtf/modulekit
[submodule "module-template/lib/modulekit"]
	path = module-template/lib/modulekit
	url = https://github.com/rhinestonewtf/modulekit
[submodule "module-template/lib/openzeppelin-contracts"]
	path = module-template/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
